{% extends "basic-layout.html" %}
{% block maincontent %}     
    <h5 class="breadcrumb" ><<a href="/">all events</a></h5>
    <h2>{{ event.title }}</h2>
    <h3>Polls</h3>  

    {% if not polls %}
        <p>There are currently no polls for this event.</p>
        <a class="pure-button" href="/event/{{ event.pk }}/create-poll">Create poll</a>
    {% else %}
        {% for poll in polls %}
            <p class="title"><a href="/event/{{ event.pk }}/poll/{{ poll.pk }}">{{ poll.title }}</a> <a href="/rate/{{ poll.rating_hash }}" target="_blank">(participant link)</a></p>
        {% endfor %}
    
    
    <a class="pure-button" href="/event/{{ event.pk }}/create-poll">Create another poll</a>
    {% endif %}
{% endblock %}
