{% extends "basic-layout.html" %}
{% block maincontent %}     
    <h4><a href="/event/{{ event.id }}">{{ event.title }}</a></h4>
    <h1>{{ poll.title }}</h1>
    
    <h2>Options to be rated</h2>  
    <ul>
    {% for option in options %}
        <li>{{ option.title }}</li>
    {% endfor %}
    </ul>

    <h2>Rating categories</h2>   
    <ul>
    {% for category in categories %}
        <li>{{ category.title }} (highest score: {{ category.best_possible_rating }})</li>
    {% endfor %}
    </ul>

{% endblock %}